<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.qiwang.tencent-lighthouse-ip-sync</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/qiwang/project/project_shell/tencent_lighthouse_ip_sync.py</string>
    <string>--config</string>
    <string>/Users/qiwang/project/project_shell/tencent_lighthouse_ip_sync.json</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/qiwang/project/project_shell</string>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>300</integer>

  <key>StandardOutPath</key>
  <string>/Users/qiwang/project/project_shell/tencent_lighthouse_ip_sync.launchd.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/qiwang/project/project_shell/tencent_lighthouse_ip_sync.launchd.err.log</string>
</dict>
</plist>
